################################################################################
# Debugging options
# With these options you can configure the level and destination of debug logging
# It is NOT recommended to use file debugging on the Raspberry Pi SD card for extended periods of time
[Debug]
# Should console loggin be enabled {True, False}
# defualt is False
console_debug = False

# Log Level for the console output (overiden by the --log command line option if given)
# options are {DEBUG, INFO, WARNING, ERROR, CRITICAL}
# defualt is DEBUG
console_level = DEBUG

# Should console loggin be enabled {True, False}
# defualt is False
file_debug = False

# Which file should we log to (file path)
# default is ./FirmwareUploader.log
log_file = ./FirmwareUploader.log

# Log Level for the file output (overiden by the --log command line option if given)
# options are {DEBUG, INFO, WARNING, ERROR, CRITICAL}
# default is INFO
file_level = INFO

[FirmwareUploader]
window_width_offset = 150
window_height_offset = 150
url_path = http://firmware.wirelessthings.net/
json_file = firmwares.json